* {
    padding: 0;
    margin: 0; 
    font-size: 22px;
    font-family:'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    
}

.main-container{
    display: flex;
    align-items: flex-start;
}

section {
  display: flex;                  
  justify-content: center;        /* Centers content horizontally */
  align-items: center;            /* Centers content vertically */
}

/* NAVIGATION */
.home-button {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav {
  display: inline-block;
  background-color: white;
  text-align: center;
  margin-top: 10px;
  padding: 5px 10px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  
  padding: 3px 6px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.menu a:hover {
  background-color: #f0e68c; /* Light yellow hover background */
  color: #333; /* Darker text color on hover */
}




/* EXPERIENCES SECTIONS */
.header {
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-width: 60px; /* Adjust size as needed */
    height: auto;
    border-radius: 3px; /* Optional, for rounded logos */
}

h2 {
  text-align: left; /* Align text inside h1 */
  align-self: flex-start; /* Aligns h1 relative to its container in flexbox */
  font-size: 25px;
}

.bio {
    font-size: 18px;
}


/* Left Block */
.left-block {
  position: sticky;
  top: 0;
  flex: 1; /* Ensure both blocks take equal space */
  padding: 20px; /* Add padding for content spacing */
  overflow-y: auto;
}

.name-and-links {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.name-and-links .externals {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px; /* Space between list items */
}

.name-and-links .externals li {
  margin: 0;
}

.name-and-links .externals a {
  text-decoration: none;
  color: inherit;
}

/* Right Block */
.right-block {
  overflow-y: auto;
  flex: 3; /* Ensure both blocks take equal space */
  padding: 20px; /* Add padding for content spacing */

}