* {
    padding: 0;
    margin: 0; 
    font-family:'IBM Plex Sans', sans-serif;
}

/* layout */
.main-container{
    display: flex;
    align-items: flex-start;
    padding:80px 100px;
    margin: 0; 
    justify-content: center;
}

/* Left Block */
.left-block {
  position: sticky;
  top: 0;
  flex: 1; 
  padding: 20px; 
  overflow-y: auto;
	width: 250px;
  max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.my-photo {
  max-width: 80px;
  height: auto;
  border-radius: 3px;
  float: left;
}

/* NAVIGATION */
.home-button {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
}

.menu {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.menu a:hover {
	font-weight: bold;
}

.name-and-links {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.name-and-links .externals {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.name-and-links .externals li {
  margin: 0;
}

.name-and-links h2 a,i {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.name-and-links .externals a {
  text-decoration: none;
  color: inherit;
}

/* Right Block */
.right-block {
  overflow-y: auto;
  flex: 1;
  padding: 20px;
  max-width: 600px

}

/* About */
.header {
  display: block;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  margin: 0 10px 10px 0;
}

.about p{
  overflow: visible;
}

/* Experience */

h1 {
align-self: flex-start;
font-size: 25px;
text-decoration: none;
color: black;
}

h2 {
text-align: left; 
align-self: flex-start;
font-size: 25px;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px auto;
    align-items: center;
}

.timeframe {
    font-size: 9pt;
}

.position {
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0;
    color: #333;
}

.description {
    font-size: 0.95em;
    margin-top: 10px;
    line-height: 1.6;
    padding: 0px;
}

.main-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.logo img {
  max-width: 45px;
  height: auto;
  border-radius: 3px;
  float: right
}

.item {
    background-color: #fff;
    padding: 17px;
    border-radius: 8px;
    margin: 10px 0: 
    transition: box-shadow 0.6s ease, transform 0.2s ease;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}

.item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description ul {
    padding: 0;
    margin: 0;
    list-style-type: disc;
    padding-left: 20px;
}

.skills {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  background-color: #0077b6;
  color: #fff;
  font-size: 0.85em;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

/* PROJECTS */

.project {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  border-radius:6%;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  text-decoration: none;
  color: black;
  padding: 13px;
  flex: 0 0 400px;
  box-sizing: border-box;
  
transition: transform 0.3s ease, filter 0.3s ease;
}


.project:hover {
  transform: scale(1.03);
  filter: brightness(0.9);
}

.project-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), 
              url('../images/auto_sorter.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-2 {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), 
    url('../images/interwar_analysis.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-3 {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), 
    url('../images/vimtex.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-4 {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), 
    url('../images/personal_website.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-5 {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), 
    url('../images/graphic_design.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-container::before,
.project-container::after {
  content: '';
  flex: 0 0 10px;
}

.project-container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px;
  position: relative;
  scroll-snap-type: x mandatory;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 20%) no-repeat,
              linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 20%) no-repeat;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: transform 0.15s ease-out;
  overscroll-behavior-x: contain;
	  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 02%,
    black 98%,
    transparent 100%
  ); /* Fade effect */
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project-container {
  -ms-overflow-style: none; /* For IE/Edge */
  scrollbar-width: none; /* For Firefox */
}

.project h3 {
  font-size: 22px;
}

.project p {
  font-size: 14px;
  margin-bottom: 15px;
}

.project skills {
  margin-top: auto;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.project:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .left-block {
        position: relative;
        top: auto;
        flex: 1;
        max-width: 100%;
        width: 100%;
        overflow-y: visible;
        margin-bottom: 20px;
    }

    .right-block {
        flex: 1;
        max-width: 100%;
        width: 100%;
        overflow-y: visible;
    }

    nav {
        max-width: 100%;
    }
}

footer {
	text-align: center;
	font-size: 12px;
	color: gray;

}
